/** 
  主题变量样式修改
**/
/* :root {
  --vp-c-brand: #656dff;
  --vp-c-brand-light: #757cff;
} */

:root {
  --vp-home-hero-name-color: blue;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #5d67e8,
    #ef4444
  );
}

/** 
  顶部导航模块样式修改
**/
.dark .VPNav {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.VPNav {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  .VPNavBar {
    /* background-color: #fff; */
    border-bottom: 1px solid rgba(60, 60, 67, 0.13);
  }
  .VPNavBar.has-sidebar {
    .curtain {
      bottom: -30px !important;
      /* 导航的底部边框不显示问题修改 */
      &::before {
        margin-top: 2px !important;
      }
    }
  }
  .logo {
    height: 40px;
  }
}

/**
    内容模块样式修改
  **/

.VPContent {
  .VPDoc {
    padding-left: 0 !important;
  }
  /* 内容左边距调整 */
  .content-container {
    margin-left: 20px !important;
  }
  /* 副标题样式修改 */
  .container .text {
    font-size: 46px !important;
  }
  .image {
    position: fixed;
    inset: 0;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    .image-container {
      height: 100%;
      width: 100%;
      transform: translate(0, 0) !important;
    }
  }
}

/**
    暗黑模式样式修改
  **/
.dark {
  .VPNav .VPNavBar {
    background-color: #1e1e20;
    border-bottom: 1px solid #000;
  }
}
